/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin:0;
	padding: 0;
}
button:focus {
	outline:0;
}
p, div, h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0; 
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0; 
}
/*header*/
.header{
	background: url(../img/welcometostartup.jpg) no-repeat center top/cover;
	padding-bottom: 260px;
	margin: 0 auto; 
	min-width: 1600px;
	min-height: 770px;
	color: #fff;
}
.section{
	margin: 0 auto;
	min-width: 1600px;
	color: #555;
} 
.container{
	width: 1140px;
	margin: 0 auto;
}
.startup{
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	margin-top: 37px;
}
a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}
.menu_list
{
	display: inline-flex;
}
.greeting, .greeting_message, .menu_list
{
	margin:0;
	padding: 0;
}
.menu_list_item{
	margin-left: 33px;
}
.menu{
	float: right;
	margin-top: 45px;
}
.greeting{
	margin-top: 240px;
	text-align: center;
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}
.greeting_message{
	margin-top: 25px;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 400;
}
.button_container{
	text-align: center;
}
.started_button{
	display: inline-block;
}
.started_button_text{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 16px 31px;
	text-transform: uppercase;
	background: none;
	border: 2px solid #fff;
	border-radius: 3px;
}
button.started_button_text:hover{
	color: #c0301c;
	background: #fff; 
	animation-name: started_button_animation;
	animation-duration: 0.8s;
}
a.menu_item:hover{
	animation-name: menu_item_hover_animation;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes started_button_animation
{
	0%{
		background: none;
		opacity: 0.2;
	}
	100%{
		background: #fff;
		opacity: 1;
	}
}
@keyframes menu_item_hover_animation
{
	0%{ 
		font-size: 14px;
		font-weight: 400;
	}
	100%{
		font-size: 24px;
		font-weight: 700;
	}
}
/*header_end*/
/*--------------------------------------------*/
/*secrion_1*/
.section_offer{
	margin-top: 95px;
}
.services{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.black_line{
	width: 50px;
	height: 2px;
	background-color: #555;
	margin: 0 auto;
}
.offer{
	margin-top: 25px;
	margin-bottom: 65px;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
.services_items{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding-bottom: 195px;
}
i.fa_service_item{
	font-size: 44px;
	color:#c0301c;
	border: 1px solid #dddddd;
	border-radius: 50%;
	padding: 16px;
	margin-bottom: 25px;
}
i.fa_service_item:hover{
	color:#fff;
	border: 1px solid #c0301c;
	background: #c0301c;
	animation-name: fa_icons_hover_animation;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes fa_icons_hover_animation
{
	0%{ 
		color:#c0301c;
		border: 1px solid #dddddd;
		background: #fff;
	}
	100%{
		color:#fff;
		border: 1px solid #c0301c;
		background: #c0301c;
	}
}
.service_item_name{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 23px;
}
.service_description{
	font-size: 14px;
}
/*section_1_end*/
/*--------------------------------------------*/
/*secrion_2*/
.ipsum_description{
	text-align: center;
	display: inline-flex;
	justify-content: center;
	margin-bottom: 60px;
}
.ipsum_description p{
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}
/*Карусель*/
.carousel{
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 1140px;
	margin-bottom: 190px;
}
.carousel_buttons_r_container{
	z-index: 100;
	margin-top: 106px;
	position: absolute;
	margin-left: 1105px;
	justify-content: space-between;
}
.carousel_buttons_l_container{
	z-index: 100;
	margin-top: 106px;
	position: absolute;
	justify-content: space-between;
}
.carousel_button{

	width: 35px;
	height: 38px; 
	background-color: #8c8c8c;
	opacity: .5;
	color: #dddddd;
	border: none;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.carousel_button:hover{
	animation-name: fa_carousel_button_hover_animation;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes fa_carousel_button_hover_animation
{
	0%{ 
		color:#ddd;
		background: #8c8c8c;
		opacity: .5;
	}
	100%{
		color:#fff;
		opacity: 1;
		background: #c0301c;
	}
}
.carousel_image{
	position: relative;
	display: inline-block;
	height: 250px;
	width: 260px;
	overflow:hidden;
	margin-bottom: 18px;
}
.carousel_item{
	text-align: center;
}
.carousel_item h3{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 11px;
}
.carousel_item p{
	font-size: 13px;
}
/*--------------------------------------------*/
/*Скрываем фильтр*/
.filter{
	z-index: -50;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 250px;
	width: 260px;
	background-color: #888;
	opacity: .55;
}
/*Скрываем фильтр*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*Скрываем контейнер с иконками соцсетей*/
.social_networks_icon_container{
	z-index: -25;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 250px;
	width: 260px;
}
/*Скрываем контейнер с иконками соцсетей*/
/*--------------------------------------------*/
.social_networks_icon{
	margin-top: 195px;
	display: inline-flex;
	width: 125px;
	justify-content: space-around;
	color: #fff;
	font-size: 16px;
}
/*--------------------------------------------*/
/*Выравниваем иконки соцсетей по высоте*/
i.sni{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 28px;
	height: 28px;
}
/*Выравниваем иконки соцсетей по высоте*/
/*--------------------------------------------*/
.social_networks_icon i:hover{
	background-color: #c0301c;
	animation-name: social_networks_icon_animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

div.carousel_image:hover > div.filter{
	z-index: 25;
	animation-name: filter_activation_animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
div.carousel_image:hover > div.social_networks_icon_container{
	z-index: 50;
}
/*--------------------------------------------*/
/*Анимация для иконок соцсетей*/
@keyframes social_networks_icon_animation
{
	0%{ 
		opacity: 0;
	}
	100%{
		opacity: 1;
		background: #c0301c;;
	}
}
/*Анимация для иконок соцсетей*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*Анимация наложения фильтра*/
@keyframes filter_activation_animation
{
	0%{ 
		opacity: .0;
	}
	100%{
		opacity: .55;
		background-color: #888;
	}
}
/*Анимация наложения фильтра*/
/*--------------------------------------------*/
/*Карусель*/
/*section_2_end*/
/*--------------------------------------------*/
/*section_3*/
.latest_works_container{
	margin-top: 25px;
	margin-bottom: 70px;
}
.latest_works_category li{
	display: inline-flex;
}
.latest_works_container ul{
	display: flex;
	width: 420px;
	justify-content: space-between;
	margin: 0 auto; 
}
.latest_works_container ul a{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	color: #555;
}
.latest_works_container ul li a:hover{
	animation-name: latest_works_category_item_animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes latest_works_category_item_animation
{
	0%{ 
		color: #555;
	}
	100%{
		color: #c0301c;
	}
}
.grid-container{
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3,  auto);
	grid-gap: 30px; 
	margin-bottom: 100px;
}
.latest_works_pic{
	position: relative;
	display: inline-block;
	height: 320px;
	width: 360px;
	overflow:hidden;
}

.latest_works_filter{
	z-index: -50;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 320px;
	width: 360px;
	background-color: #c64635;
	opacity: .7;
}
.latest_works_pic_items{
	z-index: -25;
	font-family: 'Roboto Slab', serif;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 320px;
	width: 360px;
}
.view_button{
	display: inline-block;
}
.view_button_text{
	color: #c0301c;
	font-size: 14px;
	font-weight: 400;
	padding: 12px 21px;
	text-transform: uppercase;
	background: #fff;
	border: 2px solid #fff;
	border-radius: 1px;
}
button.view_button_text:hover{
	cursor: pointer;
}
.latest_works_pic_items h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin-top: 105px;
	margin-bottom: 12px; 
}
.latest_works_pic_items p{
	margin-bottom: 25px;
	font-size: 12px;
}
.latest_works_pic_items i{
	margin-left: 12px; 
	color: red;
	font-size: 17px;
}

div.latest_works_pic:hover > div.latest_works_filter{
	z-index: 25;
	animation-name: latest_works_filter_animation;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}
div.latest_works_pic:hover > div.latest_works_pic_items{
	z-index: 50;
}
/*--------------------------------------------*/
/*Анимация наложения фильра*/
@keyframes latest_works_filter_animation
{
	0%{ 
		opacity: .0;
	}
	100%{
		opacity: .7;
		background-color: #c64635;
	}
}
/*Анимация наложения фильра*/
/*--------------------------------------------*/
/*section_3_end*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*section_4*/
.get_in_touch_bg{
	background: url(../img/letstalk.jpg) no-repeat center top/cover;
	margin: 0 auto; 
	min-height: 369px;
}
.get_in_touch_bg div.container{
	text-align: center;
}
.lets_talk{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #fff;
	font-size: 30px;
	padding-top: 100px;
	margin-bottom: 50px;
}
.lets_talk span{
	text-transform: uppercase;
}
/*Переопределяем кнопку*/
.get_in_touch_button{
	display: inline-block;
}
.get_in_touch_button{
	font-size: 18px;
}
.get_in_touch_text{
	padding: 12px 25px;
}
/*Переопределяем кнопку*/
/*section_4_end*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*section_5*/
.services_margin{
	padding-top: 92px;
}
.Recent_blog_posts_container{
	display: inline-flex;
	justify-content: space-between;
}
.container_text{
	margin-left: 40px;
}
.date{
	display: inline-flex;
	margin-right: 25px;
	color: #777;
	border: 2px solid #555555;
	font-weight: 700;
	font-size: 22px;
	text-align: center; 
	flex-direction: column;
	justify-content: center;
	width: 72px;
	height: 72px;
}
.startup_ideas{
	display: inline-flex;
}
.post_info{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.post_name{
	font-size: 16px;
	text-transform: uppercase;
}
.author{
	font-family: 'Roboto Slab', serif;
	font-size: 13px;
}
.post_text{
	font-family: 'Roboto Slab', serif;
	margin-top: 21px;
}
.read_more_link{
	display: inline-block;
	margin-top: 30px;	
	font-weight: 700;
	font-size: 14px;
	color: #777;
	text-transform: uppercase;
}
.single_line{
	width: auto;
	height: 1px;
	background-color: #ddd;
	margin: 38px 0; 
}
div.container_text:hover span{
	color: #c0301c;
}
div.container_text:hover .read_more_link{
	color: #c0301c;
}
div.container_text:hover .post_name{
	color: #c0301c;
}
.partner_logos{
	margin: 185px auto 60px; 
	width: 900px;
	display: flex;
	justify-content: space-between;
}
.partner_logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
} 
.citation{
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	margin-bottom: 40px;
}
.citation span{
	font-size: 20px;
}
.slider_button_symbol{
	background: #ddd;
	width: 12px;
	height: 12px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
ul.citation_slider_buttons{
	margin: 0px auto 195px; 
	width: 70px;
	display: flex;
	justify-content: space-between;
}
.slider_button button:hover{
	background: #c0301c;
	border: 1px solid #c0301c;
}
.container_image{
	min-width: 460px;
	min-height: 322px;
	overflow: hidden;
}
/*section_5_end*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*section_6*/
.general_form_container{
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
}
.contacts{
	width: 245px;
	margin:0;
}
.contacts div i{
	font-size: 21px;
}
.contacts div{
	display: inline-flex;
	align-items:center;
	font-size: 14px;
	text-transform: uppercase;
}
.contacts div h3{
	display: inline-block;
}
.contacts p{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 12px;
	margin-top: 12px;
	margin-bottom: 35px;
	margin-left: 36px;
	line-height: 170%;
}
.icon_container{
	width: 21px;
	height: 21px;
	margin-right: 15px;
}
.contact_form_container{
	font-size:0; /* убираем горизонтальные отступы */
	line-height:0; /* ...и вертикальные в некоторых браузерах */
	letter-spacing:-1px; /* переубеждаем webkit'ы */
}
input{
	box-sizing: border-box;
	width: 350px;
	color: #555;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 12px;
	padding: 15px 17px;
	border: 1px solid #555;
	margin-bottom: 21px;
	margin-left: 30px; 
}
textarea{
	box-sizing: border-box;
	width: 730px;
	height: 104px;
	resize: none;
	padding: 15px 17px;
	border: 1px solid #555;
	margin-bottom: 21px;
	margin-left: 30px; 
}
.submit_button{
	width: 170px;
	background-color: #fff;
	margin-bottom: 0; 
}
.notice{
	display: inline-flex;
	align-items:center;
}
.notice_message{
	color: #555;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 12px;
	margin-left: 40px; 
}
.notice_message span{
	color: #c44637;
}
input:focus{
	outline:0;
	border: 1px solid #c44637;
}
textarea:focus{
	outline:0;
	border: 1px solid #c44637;
}
/*section_6_end*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*Footer*/
.footer{
	background-color: #c0301c;
	color: #fff;
	margin: 0 auto; 
	min-width: 1600px;
	min-height: 305px;
}
footer .footer_social_networks_icon{
	margin-top: 100px;
	margin-bottom: 30px;
	width: 184px;
	display: inline-flex;
	justify-content: space-around;
}
footer .sni{
	text-align: center;
	font-size: 15px;
	border: 2px solid #fff;
	padding: 4px;
	border-radius: 50%;
}
footer .black_line{
	background-color: #fff;
}
footer .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer .services{
	margin-top: 30px;
	font-size: 12px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}
/*Footer_end*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*Media Query 320-745*/
@media (min-width: 320px) and (max-width: 745px){
	.header{
		width: 100%;
		min-width: 320px;
		margin: 0 auto;
	}
	.container{
		text-align: center;
		width: 95%;
		min-width: 320px;
		margin: 0 auto;
	}
	.section{
		width: 100%;
		min-width: 320px;
		margin: 0 auto;
	}
	.footer{
		width: 100%;
		min-width: 320px;
		margin: 0 auto;
	}
	.startup{
		display: block;
		text-align: center;
		font-size: 60px;
		padding-top: 30px;
		margin: 0 auto; 
	}
	.menu{
		float: none;
	}
	.menu_list{
		flex-direction: column;
	}
	.menu_list_item{
		margin-bottom: 15px; 
		margin-left: 0;
	}
	a.menu_item{
		font-size: 25px;
	}
	.services_items{
		flex-direction: column;
	}
	.greeting{
		margin-top: 70px;
	}
	.service_description{
		font-size: 45px;
	}
	.services{
		margin-top: 30px;
		font-size: 25px;
	}
	.offer{
		margin-bottom: 25px;
	}
	.fa_service_item{
		font-size: 60px;
	}
	.service_description{
		font-size: 25px;
	}
	.services_items{
		padding-bottom: 0; 
	}
	.ipsum_description{
		display: inline-flex;
		flex-direction: column;
		margin-bottom: 30px;
	}
	.ipsum_description p{
		margin-bottom: 10px; 	
	}
	.carousel{
		flex-direction: column;
		width: 100%;
		margin-bottom: 0px;
	}
	.carousel_buttons_r_container{
		display: none;
	}
	.carousel_buttons_l_container{
		display: none;
	}
	.carousel_image{
		margin-bottom: 5px;
	}
	.carousel_item h3{
		margin-bottom: 5px;
	}
	.carousel_item p{
		margin-bottom: 15px;
	}
	.latest_works_container{
		margin-bottom: 25px;
	}
	.latest_works_container ul{
		text-align: center;
		width: 320px;
		flex-direction: column;
	}
	.latest_works_container ul a{
		font-size: 20px;
		margin-bottom: 15px;
	}
	.grid-container{
		margin: 0 auto; 
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(9,  auto);
		margin-bottom: 35px;
	}
	.latest_works_pic{
		width: 320px;
		margin: 0 auto;
	}
	.latest_works_filter{
		width: 320px;
	}
	.latest_works_pic_items{
		width: 320px;
	}
	.lets_talk{
		padding-top: 50px;
	}
	.services_margin{
		padding-top: 0;
	}
	.Recent_blog_posts_container{
		flex-direction: column;
		justify-content: center;
	}
	.container_image{
		width: 100%;
		min-width: 320px;
	}
	.container_image img{
		margin: 0 auto; 
		width: 80%;
	}
	.container_text{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
	}
	.startup_ideas{
		flex-direction: column;
	}
	.date{
		margin: 0 auto; 
		text-align: center; 
		width: 72px;
		height: 72px;
	}
	.post_name{
		margin: 15px 0; 
	}
	.partner_logos{
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 15px;  
		width: 320px;
		text-align: center;
	}
	.partner_logo{
		display: inline;
		margin-bottom: 15px;
	}
	.slider_button_symbol{
		width: 15px;
		height: 15px;
	}
	ul.citation_slider_buttons{
		width: 72px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.citation{
		margin-bottom: 30px;
	}
	.general_form_container{
		flex-direction: column;
	}
	.contacts_container{
		margin: 0 auto; 
	}
	.contact_form_container{
		text-align: center;
	}
	input{
		margin: 0 auto;
		width: 80%;
		margin-bottom: 20px;
	}
	textarea{
		margin: 0 auto;
		margin-bottom: 20px;
		width: 80%;
	}
	.notice{
		flex-direction: column;
	}
	.notice_message{
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		margin: 0 auto;
		margin-top: 30px; 
	}
	footer .footer_social_networks_icon{
		width: 210px;
	}
}
/*Media Query 746-900*/
@media (min-width: 746px) and (max-width: 900px){
	.header{
		width: 100%;
		min-width: 601px;
		margin: 0 auto;
	}
	.container{
		text-align: center;
		width: 95%;
		min-width: 601px;
		margin: 0 auto;
	}
	.section{
		width: 100%;
		min-width: 601px;
		margin: 0 auto;
	}
	.footer{
		width: 100%;
		min-width: 601px;
		margin: 0 auto;
	}
	.startup{
		display: block;
		text-align: center;
		font-size: 60px;
		padding-top: 30px;
		margin: 0 auto; 
	}
	.menu{
		float: none;
	}
	.menu_list{
		flex-direction: column;
	}
	.menu_list_item{
		margin-bottom: 15px; 
		margin-left: 0;
	}
	a.menu_item{
		font-size: 32px;
	}
	.services_items{
		flex-direction: column;
	}
	.greeting{
		margin-top: 70px;
	}
	.service_description{
		font-size: 45px;
	}
	.services{
		margin-top: 30px;
		font-size: 25px;
	}
	.offer{
		margin-bottom: 25px;
	}
	.fa_service_item{
		font-size: 60px;
	}
	.service_description{
		font-size: 25px;
	}
	.services_items{
		padding-bottom: 0; 
	}
	.ipsum_description{
		display: inline-flex;
		flex-direction: column;
		margin-bottom: 30px;
	}
	.ipsum_description p{
		margin-bottom: 10px; 	
	}
	.carousel{
		flex-direction: column;
		width: 100%;
		margin-bottom: 0px;
	}
	.carousel_buttons_r_container{
		display: none;
	}
	.carousel_buttons_l_container{
		display: none;
	}
	.carousel_image{
		margin-bottom: 5px;
	}
	.carousel_item h3{
		margin-bottom: 5px;
	}
	.carousel_item p{
		margin-bottom: 15px;
	}
	.latest_works_container{
		margin-bottom: 25px;
	}
	.latest_works_container ul{
		text-align: center;
		width: 320px;
		flex-direction: column;
	}
	.latest_works_container ul a{
		font-size: 20px;
		margin-bottom: 15px;
	}
	.grid-container{
		margin: 0 auto; 
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(9,  auto);
		margin-bottom: 35px;
	}
	.latest_works_pic{
		width: 360px;
		margin: 0 auto;
	}
	.latest_works_filter{
		width: 360px;
	}
	.latest_works_pic_items{
		width: 360px;
	}
	.lets_talk{
		padding-top: 50px;
	}
	.services_margin{
		padding-top: 0;
	}
	.Recent_blog_posts_container{
		flex-direction: column;
		justify-content: center;
	}
	.container_image{
		width: 100%;
		min-width: 320px;
	}
	.container_image img{
		margin: 0 auto; 
		width: 80%;
	}
	.container_text{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
	}
	.startup_ideas{
		flex-direction: column;
	}
	.date{
		margin: 0 auto; 
		text-align: center; 
		width: 72px;
		height: 72px;
	}
	.post_name{
		margin: 15px 0; 
	}
	.partner_logos{
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		margin-top: 30px;
		margin-bottom: 15px;  
		justify-content: space-between;
		align-items: center;
		width: 95%;
		text-align: center;
	}
	.partner_logo{
		display: inline;
		margin-bottom: 15px;
	}
	.slider_button_symbol{
		width: 15px;
		height: 15px;
	}
	ul.citation_slider_buttons{
		width: 72px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.citation{
		margin-bottom: 30px;
	}
	.general_form_container{
		flex-direction: column;
	}
	.contacts_container{
		margin: 0 auto; 
	}
	.contact_form_container{
		text-align: center;
	}
	input{
		margin: 0 auto;
		width: 80%;
		margin-bottom: 20px;
	}
	textarea{
		margin: 0 auto;
		margin-bottom: 20px;
		width: 80%;
	}
	.notice{
		flex-direction: column;
	}
	.notice_message{
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		margin: 0 auto;
		margin-top: 30px; 
	}
	footer .footer_social_networks_icon{
		width: 210px;
	}
}
/*Media Query 901-1200*/
@media (min-width: 901px) and (max-width: 1200px){
	.header{
		width: 100%;
		min-width: 901px;
		margin: 0 auto;
	}
	.container{
		text-align: center;
		width: 95%;
		margin: 0 auto;
	}
	.section{
		width: 100%;
		min-width: 901px;
		margin: 0 auto;
	}
	.footer{
		width: 100%;
		min-width: 901px;
		margin: 0 auto;
	}
	.startup{
		display: block;
		text-align: center;
		font-size: 60px;
		padding-top: 80px;
		margin: 0 auto; 
	}
	.menu{
		float: none;
	}
	.menu_list{
		flex-direction: row;
		margin-top: 75px;
	}
	.menu_list_item{
		margin-bottom: 15px; 
		margin-left: 0;
	}
	a.menu_item{
		margin-left: 15px;
		font-size: 32px;
	}
	.services_items{
		flex-direction: column;
	}
	.greeting{
		margin-top: 70px;
	}
	.service_description{
		font-size: 45px;
	}
	.services{
		margin-top: 30px;
		font-size: 25px;
	}
	.section_offer{
		width: 95%; 
	}
	.offer{
		margin-bottom: 25px;
	}
	.fa_service_item{
		font-size: 60px;
	}
	.service_description{
		font-size: 25px;
	}
	.services_items{
		padding-bottom: 0; 
	}
	.ipsum_description{
		display: inline-flex;
		flex-direction: column;
		margin-bottom: 30px;
	}
	.ipsum_description p{
		margin-bottom: 10px; 	
	}
	.carousel{
		flex-direction: column;
		width: 100%;
		margin-bottom: 0px;
	}
	.carousel_buttons_r_container{
		display: none;
	}
	.carousel_buttons_l_container{
		display: none;
	}
	.carousel_image{
		margin-bottom: 5px;
	}
	.carousel_item h3{
		margin-bottom: 5px;
	}
	.carousel_item p{
		margin-bottom: 15px;
	}
	.latest_works_container{
		margin-bottom: 25px;
	}
	.latest_works_container ul{
		text-align: center;
		width: 320px;
		flex-direction: column;
	}
	.latest_works_container ul a{
		font-size: 20px;
		margin-bottom: 15px;
	}
	.grid-container{
		margin: 0 auto; 
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(9,  auto);
		margin-bottom: 35px;
	}
	.latest_works_pic{
		width: 360px;
		margin: 0 auto;
	}
	.latest_works_filter{
		width: 360px;
	}
	.latest_works_pic_items{
		width: 360px;
	}
	.lets_talk{
		padding-top: 50px;
	}
	.services_margin{
		padding-top: 0;
	}
	.Recent_blog_posts_container{
		flex-direction: column;
		justify-content: center;
	}
	.container_image{
		width: 100%;
		min-width: 320px;
	}
	.container_image img{
		margin: 0 auto; 
		width: 80%;
	}
	.container_text{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
	}
	.startup_ideas{
		flex-direction: column;
	}
	.date{
		margin: 0 auto; 
		text-align: center; 
		width: 72px;
		height: 72px;
	}
	.post_name{
		margin: 15px 0; 
	}
	.partner_logos{
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		margin-top: 30px;
		margin-bottom: 15px;  
		justify-content: space-between;
		align-items: center;
		width: 95%;
		text-align: center;
	}
	.partner_logo{
		display: inline;
		margin-bottom: 15px;
	}
	.slider_button_symbol{
		width: 15px;
		height: 15px;
	}
	ul.citation_slider_buttons{
		width: 72px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.citation{
		margin-bottom: 30px;
	}
	.general_form_container{
		flex-direction: column;
	}
	.contacts_container{
		margin: 0 auto; 
	}
	.contact_form_container{
		text-align: center;
	}
	input{
		margin: 0 auto;
		width: 80%;
		margin-bottom: 20px;
	}
	textarea{
		margin: 0 auto;
		margin-bottom: 20px;
		width: 80%;
	}
	.notice{
		flex-direction: column;
	}
	.notice_message{
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		margin: 0 auto;
		margin-top: 30px; 
	}
	footer .footer_social_networks_icon{
		width: 210px;
	}
}
/*Media Query 1201-1600*/
@media (min-width: 1201px) and (max-width: 1600px){
	.header{
		width: 100%;
		min-width: 1201px;
		margin: 0 auto;
	}
	.container{
		width: 1140px;
		margin: 0 auto;
	}
	.section{
		width: 100%;
		min-width: 1201px;
		margin: 0 auto;
	}
	.footer{
		width: 100%;
		min-width: 1201px;
		margin: 0 auto;
	}
	.services{
		margin-top: 30px;
	}
	.startup{
		float: left; 
	}
	.greeting{
		clear: both;
		padding-top: 240px;
	}	
}
/*div{
	border: 1px solid red;
}
*/